/* Background Color for the Section Bar */

.sectionBar > div[role=tablist] {
 /*   background-color: #c3cbd4; */
  /*background-color: #edede9;*/
  background-color: #F0FBFF;
}

.sectionBar {
    margin-top: 0 !important;
    height: 40px;
}

.sectionBar button {
    padding-top: 5px;
    padding-bottom: 5px;
}